* {
  font-family: "Acme", sans-serif;
}

.bodyclr {
  background: red;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,  #a28dad, #8145c2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8fbc8f, blue);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 0px;
}

.heading__content h1 {
  font-size: 50px;
  margin-bottom: 24px;
  color: #c22121;
  background: #ee9ca7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.tborder {
  border: 3px solid;
  border-color: yellow;
}

.tabu {
  border: 3px solid;
  border-color: yellow;
}

.heading__content:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
}

.form__container {
  display: flex;
  justify-content: center;
  border: 2px solid yellow;
  margin-left: 27%;
  margin-right: 27%;
}

.form__contents {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100%;
}

.form__contents h3 {
  font-size: 30px;
  width: 100%;
  text-align: center;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #fbf8ff;
  /* fallback for old browsers */
}

.input {
  font-style: bold;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 4px solid red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  margin: none;
  text-align: center;
}

.check {
  display: grid;
  grid-template-columns: auto auto;
  width: 1.5rem;
  font-size: 16px;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  margin: none;
  height: 31px;
  text-align: center;
}

.input:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
}

.main__btn {
  font-size: 1.4rem;
  color: rgb(241, 248, 241);
  background-color: rgb(56, 224, 56);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #000000;
  text-decoration: solid;
}

.main__btn:hover {
  color: #ffffff;
  background: #000046;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1cb5e0, #000046);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1cb5e0, #000046);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 0.5s;
  border-radius: 15px;
  transform: scale(1.075);
  transition: 0.3s ease-in;
}

.main__btn:hover:after {
  width: 100%;
}

hr.linee {
  border: 1px groove rgb(245, 242, 55);
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
  padding: 0%;
}

.bigline {
  color: yellow;
}

h2 {
  font-size: 50px;
  margin-bottom: 24px;
  color: #c22121;
  background: #fffc00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #fffc00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #fffc00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
}